<!DOCTYPE html>
<!DOCTYPE html>
<html lang="en">
    {% load static %}
    {% load socialaccount %}
{% providers_media_js %}
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" />
    
    <script src="https://cdn.tailwindcss.com"></script>
    
    <title>{% block title %} {% endblock %}</title>
</head>
<style>
   
   {% block css %}
   *{
    margin: 0;
   }
   {% endblock %}
</style>
<body class="bg-purple-100 ">

  <!---------------------------------------------------- Header ------------------------------------------------------------>

 <header class="text-white  body-font ">
        <div class="w-full bg-purple-900 flex flex-wrap flex-col md:flex-row items-center border-b-2 border-purple-800">





         <div class=" w-full p-3 flex flex-nowrap ">
          <a class="flex title-font font-medium items-center text-purple-100 ml-1 md:mb-0" href="/">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-10 h-10 text-white p-2 bg-indigo-500 rounded-full" viewBox="0 0 24 24">
              <path d="M12 2L2 7l10 5 10-5-10-5zM2 17l10 5 10-5M2 12l10 5 10-5"></path>
            </svg>
            <span class="ml-3 text-2xl font-bold font-mono">Thistle</span>
          </a>
          <div class="ml-auto flex items-center relative">
          <a href="/cart"><button class=" border-0  px-5 focus:outline-none hover:scale-110 rounded text-base md:mt-0 text-white transition ease-out delay-150 duration-500"><i class="fa-solid fa-bag-shopping fa-lg"></i>
          </button></a>
          {% if user.is_authenticated%}
          <button class=" border-0 md:hidden px-3 focus:outline-none hover:scale-110 rounded text-base md:mt-0 transition ease-linear duration-500 menu"><i class="fa-solid fa-bars fa-lg"></i></button>
          <div class="flex md:flex-row flex-col gap-x-5 md:static  md:w-fit w-36 absolute right-[-12px] top-[130%] bg-purple-900 md:p-0 p-4  md:border-none border-2 border-purple-700 account md:flex gap-y-3 z-10 hidden">
            <div><a href="/orders" ><button class="hover:scale-110  transition ease-linear duration-300 ">Orders</button></a></div>
            <div><a href="/contact" ><button class="hover:scale-110 transition ease-linear duration-300" > Contact us</button></a></div>
            <div><a href="/logout"><button class="hover:scale-110 transition ease-linear duration-300"> Log Out </button></a></div>
          </div>
          {% else %}
          {% csrf_token %}
          <div><a href="/contact" ><button class="hover:scale-110 transition ease-linear duration-300" > Contact us</button></a></div>
          <a href="{% provider_login_url "google" %}"><button class=" border-0  px-3 focus:outline-none hover:scale-110 rounded text-base md:mt-0 transition ease-out delay-150 duration-500">Log In
          </button></a>
          {% endif %}
          </div>
         </div>
        </div>
        <nav class="md:ml-auto bg-purple-900 flex flex-wrap flex-row md:opacity-100  md:mt-0 nav text-base overflow-hidden items-center md:justify-evenly justify-center ">
          <a href='/categories/bodyoils' class="md:mr-5 hover:scale-110 p-2 transition ease-out delay-150 duration-500">BODY OILS</a>
          <a href= '/categories/bodywash' class="md:mr-5 hover:scale-110 p-2 transition ease-out delay-150 duration-500">BODY WASH</a>
          <a href= '/categories/category3' class="md:mr-5 hover:scale-110 p-2 transition ease-out delay-150 duration-500">CATEGORY 3</a>
          <a href= '/categories/category4' class="md:mr-5 hover:scale-110 p-2 transition ease-out delay-150 duration-500">CATEGORY 4</a>
        </nav>
        <div class="bg-purple-700 text-center p-2 w-full uppercase font-bold "><span class="animate-pulse text-yellow-200">{{announcement.text}}</span></div>
      </header>
      

  
      {% block body %}
      {% endblock %}
     <footer class="text-gray-600 bg-purple-200 body-font">
        <div class="container px-5 py-24 mx-auto flex md:items-center lg:items-start md:flex-row md:flex-nowrap flex-wrap flex-col">
          <div class="w-64 flex-shrink-0 md:mx-0 mx-auto text-center md:text-left">
            <a class="flex title-font font-medium items-center md:justify-start justify-center text-gray-900">
              <svg xmlns="http://www.w3.org/2000/svg" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-10 h-10 text-white p-2 bg-indigo-500 rounded-full" viewBox="0 0 24 24">
                <path d="M12 2L2 7l10 5 10-5-10-5zM2 17l10 5 10-5M2 12l10 5 10-5"></path>
              </svg>
              <span class="ml-3 text-xl">Tailblocks</span>
            </a>
            <p class="mt-2 text-sm text-gray-500">Air plant banjo lyft occupy retro adaptogen indego</p>
          </div>
          <div class="flex-grow flex flex-wrap md:pl-20 -mb-10 md:mt-0 mt-10 md:text-left text-center">
            <div class="lg:w-1/4 md:w-1/2 w-full px-4">
              <h2 class="title-font font-medium text-gray-900 tracking-widest text-sm mb-3">CATEGORIES</h2>
              <nav class="list-none mb-10">
                <li>
                  <a class="text-gray-600 hover:text-gray-800">First Link</a>
                </li>
                <li>
                  <a class="text-gray-600 hover:text-gray-800">Second Link</a>
                </li>
                <li>
                  <a class="text-gray-600 hover:text-gray-800">Third Link</a>
                </li>
                <li>
                  <a class="text-gray-600 hover:text-gray-800">Fourth Link</a>
                </li>
              </nav>
            </div>
            <div class="lg:w-1/4 md:w-1/2 w-full px-4">
              <h2 class="title-font font-medium text-gray-900 tracking-widest text-sm mb-3">CATEGORIES</h2>
              <nav class="list-none mb-10">
                <li>
                  <a class="text-gray-600 hover:text-gray-800">First Link</a>
                </li>
                <li>
                  <a class="text-gray-600 hover:text-gray-800">Second Link</a>
                </li>
                <li>
                  <a class="text-gray-600 hover:text-gray-800">Third Link</a>
                </li>
                <li>
                  <a class="text-gray-600 hover:text-gray-800">Fourth Link</a>
                </li>
              </nav>
            </div>
            <div class="lg:w-2/4 md:w-1/2 w-full px-4">
              <h2 class="title-font font-medium text-gray-900 tracking-widest text-sm mb-3">CONTACT US</h2>
              <nav class="list-none mb-10">
                <li>
                  Email - osiajewellery7@gmail.com
                </li>
                <li>
                  Phone No. - 809987654321
                </li>
                <li>
                  <span class="inline-flex sm:ml-auto sm:mt-0 mt-2 justify-center sm:justify-start">
                    <a class="text-gray-500">
                      <svg fill="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-5 h-5" viewBox="0 0 24 24">
                        <path d="M18 2h-3a5 5 0 00-5 5v3H7v4h3v8h4v-8h3l1-4h-4V7a1 1 0 011-1h3z"></path>
                      </svg>
                    </a>
                    <a class="ml-3 text-gray-500">
                      <svg fill="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-5 h-5" viewBox="0 0 24 24">
                        <path d="M23 3a10.9 10.9 0 01-3.14 1.53 4.48 4.48 0 00-7.86 3v1A10.66 10.66 0 013 4s-4 9 5 13a11.64 11.64 0 01-7 2c9 5 20 0 20-11.5a4.5 4.5 0 00-.08-.83A7.72 7.72 0 0023 3z"></path>
                      </svg>
                    </a>
                    <a class="ml-3 text-gray-500">
                      <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-5 h-5" viewBox="0 0 24 24">
                        <rect width="20" height="20" x="2" y="2" rx="5" ry="5"></rect>
                        <path d="M16 11.37A4 4 0 1112.63 8 4 4 0 0116 11.37zm1.5-4.87h.01"></path>
                      </svg>
                    </a>
                    <a class="ml-3 text-gray-500">
                      <svg fill="currentColor" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="0" class="w-5 h-5" viewBox="0 0 24 24">
                        <path stroke="none" d="M16 8a6 6 0 016 6v7h-4v-7a2 2 0 00-2-2 2 2 0 00-2 2v7h-4v-7a6 6 0 016-6zM2 9h4v12H2z"></path>
                        <circle cx="4" cy="4" r="2" stroke="none"></circle>
                      </svg>
                    </a>
                  </span>
                </li>
              </nav>
            </div>
            
          </div>
        </div>
        <div class="bg-purple-700">
          <div class="container mx-auto py-4 px-5 flex flex-wrap flex-col sm:flex-row">
            <p class="text-white text-sm text-center sm:text-left">© 2023 Thistle —
              <a href="https://twitter.com/640Xmos" rel="noopener noreferrer" class="text-white ml-1" target="_blank">@xmos640</a>
            </p>
            <span class="inline-flex sm:ml-auto sm:mt-0 mt-2 justify-center sm:justify-start">
              <a class="text-white">
                <svg fill="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-5 h-5" viewBox="0 0 24 24">
                  <path d="M18 2h-3a5 5 0 00-5 5v3H7v4h3v8h4v-8h3l1-4h-4V7a1 1 0 011-1h3z"></path>
                </svg>
              </a>
              <a class="ml-3 text-white">
                <svg fill="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-5 h-5" viewBox="0 0 24 24">
                  <path d="M23 3a10.9 10.9 0 01-3.14 1.53 4.48 4.48 0 00-7.86 3v1A10.66 10.66 0 013 4s-4 9 5 13a11.64 11.64 0 01-7 2c9 5 20 0 20-11.5a4.5 4.5 0 00-.08-.83A7.72 7.72 0 0023 3z"></path>
                </svg>
              </a>
              <a class="ml-3 text-white">
                <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-5 h-5" viewBox="0 0 24 24">
                  <rect width="20" height="20" x="2" y="2" rx="5" ry="5"></rect>
                  <path d="M16 11.37A4 4 0 1112.63 8 4 4 0 0116 11.37zm1.5-4.87h.01"></path>
                </svg>
              </a>
              <a class="ml-3 text-white">
                <svg fill="currentColor" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="0" class="w-5 h-5" viewBox="0 0 24 24">
                  <path stroke="none" d="M16 8a6 6 0 016 6v7h-4v-7a2 2 0 00-2-2 2 2 0 00-2 2v7h-4v-7a6 6 0 016-6zM2 9h4v12H2z"></path>
                  <circle cx="4" cy="4" r="2" stroke="none"></circle>
                </svg>
              </a>
            </span>
          </div>
        </div>
      </footer>
</body>

<script>
const account=document.querySelector(".account");
const menu=document.querySelector(".menu");
let meh = false;
menu.addEventListener('click',()=>{
  meh=!meh
  if (meh===true){
    account.classList.remove("hidden")

  }
  else{account.classList.add("hidden")}
})

</script>

<script src="https://code.jquery.com/jquery-3.6.3.js" integrity="sha256-nQLuAZGRRcILA+6dMBOvcRh5Pe310sBpanc6+QBmyVM=" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    {% block js %}


    
    
    {% endblock %}
