{% extends 'basic.html' %}
{% block title %} Cart-Thistle {% endblock %}
{% block css%}

    #zip::-webkit-outer-spin-button,
  #zip::-webkit-inner-spin-button,
  #phone::-webkit-outer-spin-button,
  #phone::-webkit-inner-spin-button {
    -webkit-appearance: none;
  }
  
{% endblock %}
{% block body %}


<main class="lg:w-4/5 md:w-4/5 mx-auto py-8">
    <div class="w-full flex flex-row flex-wrap items-start gap-x-3">
      <!-- This is the order summary section -->
      <div class="md:w-1/3 w-full flex flex-col">
        <div class="bg-gray-300 flex flex-col rounded p-4 mb-4 shadow-lg">
        <h2 class="text-lg font-bold mb-4">Order Summary</h2>
        <!-- This is an item in the order summary -->
        <div class="flex justify-between items-center mb-2">
          
        </div>
  
        <div class="flex justify-between items-center mb-2">
          <p class="text-gray-600">Cart Value</p>
          <p class="font-bold"><span> &#8377</span>
            <span id='total_mrp'></span></p>
        </div>
        <!-- This is another item in the order summary -->
        <div class="flex justify-between items-center mb-2 0">
          <p class="text-gray-600">Shipping</p>
          <p class="font-bold"><span> &#8377</span>
            <span id='shipping'>70</span></p>
        </div>
        <div class="flex justify-between items-center mb-2 0 " >
          <p class="text-gray-600">Discount</p>
          <p class="font-bold"><span> - &#8377</span>
            <span id="discounted"></span></p>
        </div>
        <div class="flex justify-between items-center mb-4 0 coupon hidden" >
          <p class="text-gray-600">Coupon Discount</p>
          <p class="font-bold"><span> - &#8377</span>
            <span class="discount"></span></p>
        </div>
        <!-- This is the total cost of the order -->
        <div class="flex justify-between items-center border-t-2 py-2 border-gray-400">
          <p class="font-bold">Total</p>
          <p class="font-bold "><span> &#8377</span>
            <span id='totalPrice' class="total"></span></p>
        </div>
      </div>
      <div class="bg-gray-300 rounded p-4 mb-4  shadow-lg">
        <div class="flex flex-row">
        <input type="text" id="code" name="coupon" class="border p-2" placeholder="Coupon Code" required>
        <button class=" px-2 w-full bg-indigo-700 hover:bg-indigo-500 rounded text-white cursor-pointer apply-coupon">Apply Coupon</button>
        </div>
        <div class="prompt mt-2 "></div>
      </div>
      <div class="bg-gray-300 rounded p-4 mb-4 shadow-lg">
        <div class="pb-2 text-gray-600">Make Payment of  &#8377<span id="totalPrice"></span>to this UPI Id and fill the given form</div>
        <img src="/media/QR_code.jpg" alt="QR code" >
      </div>
      </div>
  
      <!-- This is the billing and shipping information section -->
      <div class="flex flex-col md:w-[65%] bg-gray-100 p-4 mb-4 shadow-md">
        <h2 class="text-lg font-bold mb-6">Billing and Shipping Information</h2>
        <form method="post" action="/cart/">
          {%csrf_token%}
          <div class="flex flex-col mb-8">
            <input type="text" id="name" name="name" class="border p-3" placeholder="Full Name" required>
          </div>
          <div class="flex flex-col mb-4 hidden">
            <input type="hidden" id="email" name="email" class="border p-3"  value="{{request.user.email}}">
          </div>
          <div class="flex flex-col mb-8">
            <input type="text" id="phone" name="phone" class="border p-3" placeholder="Phone Number" maxlength="13" minlength="10" required>
          </div>
          <div class="flex flex-col mb-8">
            
            <textarea rows="3" id="address" name="address" class="border p-3" placeholder="Address" required></textarea>
          </div>
          <div class="flex flex-col mb-8">
            <input type="text" id="city" name="city" class="border p-3" placeholder="City" required>
          </div>
          <div class="flex flex-row gap-x-3 mb-8">
            <input type="text" id="state" name="state" class="border p-3 w-[56%]" placeholder="State" required>
            <input type="number" id="zip" name="postal_code" class="border p-3 w-[43%]" placeholder="Pin code" maxlength="6" required>
          </div>
          <div class="flex flex-col mb-6">
            <textarea rows="3" id="instructions" name="instructions" class="border p-3" placeholder="Instructions(If Any)"></textarea>
          </div>
          <div class="flex flex-col mb-8">
            <div class="p-2 text-lg font-medium text-gray-600">Please put Your UTR number here</div>
            <input type="text" id="utr" name="utr" class="border p-3" placeholder="UTR" required>
          </div>
          <input type="hidden" class=" c" name="coupon">
          <input type="hidden" name="amount" id="amount">
          <input type="hidden" name="itemsJson" id="itemsJson">
          <div class="flex flex-col mb-8">
            <button type="submit" onclick="clearCart()" class="py-4 px-2 w-full bg-indigo-700 hover:bg-indigo-500 rounded text-white font-bold cursor-pointer shadow-md shadow-gray-500 hover:shadow-none" name="submit">submit</button>
            
          </div>
        </form>
      </div>
      </div>
    </main>
  
    
                          
                   

{% endblock %}






{% block js %}
  <script>
    if (localStorage.getItem('thistle_cart') == null) {
        var cart = {};
    } else {
        cart = JSON.parse(localStorage.getItem('thistle_cart'));
    }
    console.log(cart);
    var sum = 0;
    
    var shipping = parseInt(document.getElementById('shipping').innerHTML);
    totalPrice = 0;
    var totalMrp = 0;
    var subtotal = 0;
    if ($.isEmptyObject(cart)) {
        //if object is empty
        mystr = `<p>Your cart is empty, please add some items to your cart before checking out!</p>`
        $('#items').append(mystr);
    } else {
        for (item in cart) {
            let qty = cart[item][0];
            let price = cart[item][2];
            let mrp = cart[item][3]
            sum = sum + qty;
            totalPrice = totalPrice + qty*price
            subtotal = subtotal + qty*price
            totalMrp = totalMrp + qty* mrp
          }
    }
    
    document.getElementById('totalPrice').innerHTML = totalPrice+shipping;
    document.getElementById('total_mrp').innerHTML = totalMrp;
    let discounted = totalMrp-subtotal;




document.getElementById('discounted').innerHTML = discounted;
$('#itemsJson').val(JSON.stringify(cart));
   
    
    
      //JS for Coupons
      let code=document.querySelector("#code");
      let apply=document.querySelector(".apply-coupon");
      let discount=document.querySelector(".discount");
      let coupon=document.querySelector(".coupon");
      let total=document.querySelector(".total");
      let prompt=document.querySelector(".prompt");
      let amount=document.querySelector("#amount");
      let c=document.querySelector(".c");
      console.log('{{coupons.0.id}}');
      let coupons_available={
        {% for i in coup %}
        {{i.coupon}}:{
            id:'{{i.id}}',
            discount:'{{i.discount}}',
            can_be_used:'{{i.can_be_used}}'     
        },
    
       {% endfor %}
      }
      let discountedValue=0
      console.log(coupons_available)
      amount.value=(totalPrice+shipping-discountedValue).toFixed(2)
      apply.addEventListener("click",()=>{
       let value=code.value
       
       if (coupons_available.hasOwnProperty(value) && coupons_available[value].can_be_used==='True'){
         coupon.classList.remove("hidden")
         discountedValue=totalPrice*(coupons_available[value].discount/100)
         discount.textContent=`${(discountedValue).toFixed(2)}`
         c.value=value
         console.log(c.value)
         prompt.innerHTML='<div class="flex p-4 mb-4 text-sm text-green-800 rounded-lg bg-green-50 dark:text-green-400" role="alert"><svg aria-hidden="true" class="flex-shrink-0 inline w-5 h-5 mr-3" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-7-4a1 1 0 11-2 0 1 1 0 012 0zM9 9a1 1 0 000 2v3a1 1 0 001 1h1a1 1 0 100-2v-3a1 1 0 00-1-1H9z" clip-rule="evenodd"></path></svg><span class="sr-only">Info</span><div><span class="font-medium">Coupon Applied!</span></div></div>'
       }else{
        discountedValue=0
         coupon.classList.add('hidden')
         c.value=""
         prompt.innerHTML='<div class="flex p-4 mb-4 text-sm text-red-800 rounded-lg bg-red-50 dark:text-red-400 " role="alert"> <svg aria-hidden="true" class="flex-shrink-0 inline w-5 h-5 mr-3" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-7-4a1 1 0 11-2 0 1 1 0 012 0zM9 9a1 1 0 000 2v3a1 1 0 001 1h1a1 1 0 100-2v-3a1 1 0 00-1-1H9z" clip-rule="evenodd"></path></svg><span class="sr-only">Info</span><div><span class="font-medium">Invalid Coupon!</span></div></div>'
       }
       total.textContent=`${(totalPrice+shipping-discountedValue).toFixed(2)}`
       amount.value=(totalPrice+shipping-discountedValue).toFixed(2)
      })

      function clearCart() {
    cart = JSON.parse(localStorage.getItem('thistle_cart'));
    localStorage.clear();
    cart = {};


}

      
    //   total.textContent=`${(totalPrice+shipping-discountedValue).toFixed(2)}`

     
     
     
     
     

  </script>
  {% endblock %}