{% extends 'basic.html' %}
{% block title %} Contact {% endblock %}

  {% block body %}
  
<main class="container mx-auto py-8">
    <div class="flex flex-col md:w-3/5 w-full mx-auto">
      <div class="flex p-4 mb-4 text-sm text-green-800 rounded-lg bg-green-50 dark:text-green-400 hidden message" role="alert"><svg aria-hidden="true" class="flex-shrink-0 inline w-5 h-5 mr-3" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-7-4a1 1 0 11-2 0 1 1 0 012 0zM9 9a1 1 0 000 2v3a1 1 0 001 1h1a1 1 0 100-2v-3a1 1 0 00-1-1H9z" clip-rule="evenodd"></path></svg><span class="sr-only">Info</span><div><span class="font-medium">Your Message has been submitted. We'll get back at you as soon as possible</span></div></div>
      <!-- This is the contact form section -->
      <div class="flex flex-col bg-white rounded p-6 mb-4 shadow-lg">
        <h2 class="text-lg font-bold mb-4">Send us a message</h2>
        <form method="post" action="/contact/">{% csrf_token %}
          <div class="flex flex-col mb-2">
            <input type="hidden" id="email" name="email" class="border p-2" value="{{request.user.email}}"   required>
            <input type="hidden" id="name" name="name" class="border p-2"   value = "{{request.user}}" required>
          </div>
          <div class="flex flex-col mb-2">
            
            <input type="text" id="subject" name="subject" class="border p-2" placeholder="Subject" required>
          </div>
          <div class="flex flex-col mb-2">
            
            <textarea id="message" name="message" rows="5" class="border p-2" placeholder="Write your query here" required></textarea>
          </div>
          <button type="submit" class="bg-blue-500 hover:bg-blue-600 text-white py-2 px-4 mt-4 rounded thank">Send</button>
        </form>
      </div>
  
      <!-- This is the contact information section -->
      <div class="flex flex-col bg-white rounded p-6 mb-4 shadow-lg">
        <h2 class="text-lg font-bold mb-4">Contact Information</h2>
        <p class="text-gray-600 mb-2">Email: info@company.com</p>
        <p class="text-gray-600 mb-2">Phone: 6565656565656</p>
        <div class="flex items-center mt-2">
          <a class="text-gray-500">
            <svg fill="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-5 h-5" viewBox="0 0 24 24">
              <path d="M18 2h-3a5 5 0 00-5 5v3H7v4h3v8h4v-8h3l1-4h-4V7a1 1 0 011-1h3z"></path>
            </svg>
          </a>
          <a class="ml-3 text-gray-500">
            <svg fill="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-5 h-5" viewBox="0 0 24 24">
              <path d="M23 3a10.9 10.9 0 01-3.14 1.53 4.48 4.48 0 00-7.86 3v1A10.66 10.66 0 013 4s-4 9 5 13a11.64 11.64 0 01-7 2c9 5 20 0 20-11.5a4.5 4.5 0 00-.08-.83A7.72 7.72 0 0023 3z"></path>
            </svg>
          </a>
          <a class="ml-3 text-gray-500">
            <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-5 h-5" viewBox="0 0 24 24">
              <rect width="20" height="20" x="2" y="2" rx="5" ry="5"></rect>
              <path d="M16 11.37A4 4 0 1112.63 8 4 4 0 0116 11.37zm1.5-4.87h.01"></path>
            </svg>
          </a>
          <a class="ml-3 text-gray-500">
            <svg fill="currentColor" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="0" class="w-5 h-5" viewBox="0 0 24 24">
              <path stroke="none" d="M16 8a6 6 0 016 6v7h-4v-7a2 2 0 00-2-2 2 2 0 00-2 2v7h-4v-7a6 6 0 016-6zM2 9h4v12H2z"></path>
              <circle cx="4" cy="4" r="2" stroke="none"></circle>
            </svg>
          </a>
        </div>
      </div>
    </div>
  </main>
  {% endblock%}
  {% block js %}
  <script>
    const thank=document.querySelector(".thanks");
    let thanku={{thanks}};
    const message=document.querySelector(".message")
    
      if(thanku===1){
        message.classList.remove("hidden");
      }
      else{message.classList.add("hidden")}
  </script>
  {% endblock %}