{% extends 'basic.html' %}
{% block title %} {{product.product_name}} {% endblock %}

{% block css %}
{% endblock %}
{% block body %}
{% load static %}
<input type="hidden" value="pr{{product.product_id}}" id="prid">
<input type="hidden" id="img" value="{{photos.0.images.url}}">

<section class="text-gray-600 body-font overflow-hidden">
  <div class="w-full px-5 py-7 mx-auto">
    <div class="lg:w-4/5 mx-auto flex flex-wrap items-center">
      <!------------------------------------------------ Carousel--------------------- -->
      <div class="md:w-1/2 w-full overflow-hidden">
        <div class="flex flex-row flex-nowrap relative items-center flex-auto h-fit slider transition ease-out delay-150 duration-500">
          <!------------------------------ For Loop------------------- -->
          {% for p in photos %}
        <img src="{{p.images.url}}" class="slide p-2 " alt="prod1">
        
        <!-------------- End For Loop------------------------------------------- -->
        {% endfor %}
        </div>
        <div class="text-center py-2">
       <button class=" hover:bg-purple-200 p-2" onclick="prev()"><i class="fa-solid fa-chevron-left"></i></button>&nbsp <button class=" hover:bg-purple-200 p-2" onclick="next()"><i class="fa-solid fa-chevron-right"></i></button>
      </div>
      </div>

        <div class="lg:w-1/2 w-full lg:pl-10 lg:py-6 mt-6 lg:mt-0">
          <h2 class="text-sm title-font text-gray-500 tracking-widest" id="category">{{product.category}}</h2>
          <h1 class="text-gray-900 text-3xl title-font font-medium mb-1" id="name">{{product.product_name}}</h1>
          <div class="flex mb-4">
            <span class="flex items-center">
              {% for i in stars %}
              {% if i %}
              
              <i class="fa-solid fa-star text-red-500"></i>
              
              {% else %}
              
              <i class="fa-regular fa-star text-red-500"></i>
              
              {% endif %}
              {% endfor %}
            </span>
            <span class="flex ml-3 pl-3 py-2 border-l-2 border-gray-200 space-x-2s">
             
            </span>
          </div>

          <p class="leading-relaxed font-medium">{{product.desc}}</p>
          <p class="leading-relaxed font-medium">{{product.desc2}}</p>
          <p class="font-bold pt-2">Directions:</p>
          <p class="leading-relaxed">{{product.directions}}</p>

          <div class="flex mt-6 items-center pb-5 border-b-2 border-gray-100 mb-5">
            <div class="flex ml-6 items-center">
              
              <div class="relative">
                
              </div>
            </div>
          </div>
          <div class="mt-5 flex items-center w-full ">
            <span class="title-font font-medium text-2xl text-gray-900" >
                &#8377<span id="price" class="pr-2">{{product.sale_price}}</span>
                <span  class="line-through text-xl text-gray-600 pr-3"> &#8377<span id="mrp"> {{product.mrp}} </span></span> </span>
            <span id="discount" class=""></span>
           </div>
           <div class="flex flex-row items-center">
            {% if product.availabilty %}
            <span id="atc" class="divpr"> <button class=" cart flex  text-white bg-indigo-500 border-0 py-2 px-6 focus:outline-none hover:bg-indigo-600 mt-5 rounded">Add to cart</button></span>
            {% else %}
            <button disabled class=" cart flex mt-5 ml-auto text-white bg-indigo-500 border-0 py-2 px-6 focus:outline-none hover:bg-indigo-600 rounded">Out of stock</button>
            {% endif %}
            
            </div>
        </div>
      </div>
    </div>
    <!-------------------------------------- Feedback-------------------------------------------------------------- -->
    <div class=" lg:w-4/5 mx-auto py-8 " id="reviews"><h3 class="text-3xl text-black font-medium border-b-2 border-purple-300 md: ml-2">Customer reviews</h3>
      <div class="lg:flex flex-row">
      <div class="p-5  w-full ">
       {% if num_revs %}
       <div class="pt-3">

        {% for i in reviews %}
        <div class=" flex flex-row items-center py-2">
          
            <div class="bg-white rounded-lg shadow-lg overflow-hidden w-full ">
              <div class="px-6 py-4">
                <div class="text-xl font-bold mb-2 w-full flex flex-row">
                  <span class="mr-2">{{i.name}}</span>
                  <span class=" ml-auto">
            
                    {% for j in '12345'|make_list %}
                    {% if forloop.counter <= i.rate %}

                    <i class="fa-solid fa-star text-red-500 " style="transform: scale(0.8);"></i>
              
                    {% else %}
                    
                    <i class="fa-regular fa-star text-red-500" style="transform: scale(0.8);"></i>
                    
                    {% endif %}
                    {% endfor %}
                  </span>
                </div>
                <p class="text-gray-500 text-base break-words">{{i.comment}}</p>
              </div>
              
            </div>
          </div>
          <!-- -------------------------------------------------------Previous reviews ----------------------------------------- -->
          {% endfor %} 
        </div>
        {% else %}
        <h3 class="mb-8 text-2xl p-5 text-gray-500 font-bold">Be the first one to write a review for this product</h3>
        {% endif %}
        
        </div>
        <div class="p-5   w-full lg:w-1/2">
          <!-- USER REVIEW ================= -->
          {% if logged_in %}
          {% if done %}
          
            
          {% else %}
           WRITE YOUR REVIEW
           <!-- <img src="{% static '20221216_231612_06.jpg' %}" alt=""> -->
           <!-- "{% static '20221216_231612_06.jpg' %}" -->
      
          <form class="py-3" actiion="/products/{{product.product_id}}" method="get">
            <input type="hidden" class="form-control" id="name" name = "name" value="{{request.user}}">
              <input type="hidden" class="form-control" id="email" name="email" value="{{request.user.email}}">
              <input type="hidden"  name="product_name" id="pr_name" value="{{product.product_name}}">
          <textarea placeholder="Your Review" name="review" class="border-2 border-purple-300 w-full text-md p-2" rows="4"></textarea>
          
          <div class="py-3"> YOUR RATING:&nbsp 
            <input type="radio" name="rating" id="star1" value="1" class="hidden"><label for="star1"><i class="fa-solid fa-star cursor-pointer text-gray-600 hover:text-red-500 rate"></i></label>
            <input type="radio" name="rating" id="star2" value="2" class="hidden"><label for="star2"><i class="fa-solid fa-star cursor-pointer text-gray-600 hover:text-red-500 rate"></i></label>
            <input type="radio" name="rating" id="star3" value="3" class="hidden"><label for="star3"><i class="fa-solid fa-star cursor-pointer text-gray-600 hover:text-red-500 rate"></i></label>
            <input type="radio" name="rating" id="star4" value="4" class="hidden"><label for="star4"><i class="fa-solid fa-star cursor-pointer text-gray-600 hover:text-red-500 rate"></i></label>
            <input type="radio" name="rating" id="star5" value="5" class="hidden"><label for="star5"><i class="fa-solid fa-star cursor-pointer text-gray-600 hover:text-red-500 rate"></i></label>
          </div>
      
            <button type="submit" class="bg-indigo-500 text-white px-5 py-2 border-2 rounded hover:bg-indigo-600 cursor-pointer">Submit review</button>
          </form>
          {% endif %}
          {% else %}
          please login to review this item
          {% endif %}
        
    </div>
  </div>

          
          
          
          
      
  </section>
  
  
 
  

  
      
{% endblock %}
{% block js %}
<script>
  // Carousel ======================================


const slides=document.querySelectorAll(".slide");
const slider=document.querySelector(".slider");
let c=0;
let i=0;
slides.forEach((slide,index)=>{
   i=index
})
function slideshow(){
  slides.forEach((slide)=>{
    slider.style.transform=`translateX(-${c * 100}%)`
  })
}
function prev(){
  if(c<=0){
    c=i
  }
  else{c--}
  slideshow()
}
function next(){
  if(c>=i){
    c=0
  }
  else{c++}
  slideshow()
}


// STARSSS ================================

const rates=document.querySelectorAll(".rate");
rates.forEach((rate,index)=>{
  rate.addEventListener('click',(e)=>{
    let x= index;
    rates.forEach((rate,t)=>{
      if(x>=t){
        rate.style.color="rgb(239, 68, 68)"
      }
      else{
        rate.style.color="rgb(75 85 99)"
      }
      
   })
})
})

const disc = ('{{product.mrp}}' - '{{product.sale_price}}')/'{{product.mrp}}'*100;
console.log(disc)
document.getElementById('discount').innerHTML=disc.toFixed(2)+"%";


// Adding cart items  ---------
// ================================================================
// ================================================================


if (localStorage.getItem('thistle_cart') == null) {
    var thistle_cart = {};
} else {
    thistle_cart = JSON.parse(localStorage.getItem('thistle_cart'));
    
    console.log(thistle_cart);
    updateCart(thistle_cart);
}



// ==========================If the add to cart button is clicked, add/increment the item ====================
$('.cart').click(function() {
    console.log('clicked');
    var idstr = document.getElementById('prid').value;
    console.log(idstr);
    console.log(thistle_cart);




    if (thistle_cart[idstr] != undefined) {
        qty = thistle_cart[idstr][0]+1;


    } else {
        qty = 1;

        name = document.getElementById('name').innerHTML;
        price = document.getElementById('price').innerHTML;
        mrp = document.getElementById('mrp').innerHTML;
        category = document.getElementById('category').innerHTML;
        img = document.getElementById('img').value;
        thistle_cart[idstr] = [qty,name,parseInt(price),parseInt(mrp),img,idstr.slice(2),category];
    }
    updateCart(thistle_cart);
});


function updateCart(thistle_cart) {
    var sum = 0;
    for (var item in thistle_cart) {

            sum = sum+thistle_cart[item][0];

        }
    var idstr = document.getElementById('prid').value;
    if (thistle_cart[idstr] !== undefined){
    if (thistle_cart[idstr][0]!==0){
                console.log(item)
            document.getElementById('atc').innerHTML = "<div class='cart'><button id='minus' class=' minus font-bold text-white bg-indigo-500 border-0 pb-1 px-2 focus:outline-none hover:bg-indigo-600 mt-5 rounded'>-</button> <span id='val' class=' font-bold p-3 mx-2 border text-center w-8'>" + thistle_cart[idstr][0] + "</span> <button id='plus' class='plus font-bold text-white bg-indigo-500 border-0 pb-1 px-2 focus:outline-none hover:bg-indigo-600 mt-5 rounded'   > + </button> </div>";
            }
            else {
                delete thistle_cart[item];


            }
}



    localStorage.setItem('thistle_cart', JSON.stringify(thistle_cart));
   // document.getElementById('cart').innerHTML = sum;

    console.log(thistle_cart);
}


// If plus or minus button is clicked, change the cart as well as the display value==================
// =======================
// ========================


$('.divpr').on("click", "button.minus", function() {
    var idstr = document.getElementById('prid').value;
    console.log(thistle_cart)
    thistle_cart[idstr][0] = thistle_cart[idstr][0] - 1;
    thistle_cart[idstr][0] = Math.max(0, thistle_cart[idstr][0]);
    document.getElementById('val').innerHTML = thistle_cart[idstr][0];
    
    updateCart(thistle_cart);
});
$('.divpr').on("click", "button.plus", function() {
    var idstr = document.getElementById('prid').value;

    if (thistle_cart[idstr]!=undefined){
      thistle_cart[idstr][0] = thistle_cart[idstr][0] + 1;
    document.getElementById('val').innerHTML = thistle_cart[idstr][0];
    }
    else{
        qty = 1;
        name = document.getElementById('name').innerHTML;
        price = document.getElementById('price').innerHTML;
        mrp = document.getElementById('mrp').innerHTML;
        img = document.getElementById('img').value;
        category = document.getElementById('category').innerHTML;
        thistle_cart[idstr] = [qty,name,parseInt(price),parseInt(mrp),img,idstr.slice(2),category];
    }
    updateCart(thistle_cart);
});






</script>
{% endblock %}