{% extends 'basic.html' %}
{% block title %} {{product.product_name}} {% endblock %}

{% block css %}
{% endblock %}
{% block body %}
<input type="hidden" value="pr{{product.product_id}}" id="prid">
<input type="hidden" id="img" value="{{photos.0.images.url}}">
<section class="text-gray-600 body-font overflow-hidden">
  <div class="w-full px-5 py-7 mx-auto">
    <div class="lg:w-4/5 mx-auto flex flex-wrap items-center">
      <!------------------------------------------------ Carousel--------------------- -->
      <div class="md:w-1/2 w-full overflow-hidden">
        <div class="flex flex-row flex-nowrap relative items-center flex-auto h-fit slider transition ease-out delay-150 duration-500">
          <!------------------------------ For Loop------------------- -->
          {% for p in photos %}
        <img src="{{p.images.url}}" class="slide w-full" alt="prod1">
        
        <!-------------- End For Loop------------------------------------------- -->
        {% endfor %}
        </div>
        <div class="text-center py-2">
       <button class=" hover:bg-purple-200 p-2" onclick="prev()"><i class="fa-solid fa-chevron-left"></i></button>&nbsp <button class=" hover:bg-purple-200 p-2" onclick="next()"><i class="fa-solid fa-chevron-right"></i></button>
      </div>
      </div>

        <div class="lg:w-1/2 w-full lg:pl-10 lg:py-6 mt-6 lg:mt-0">
          <h2 class="text-sm title-font text-gray-500 tracking-widest" id="redirect">Thistle</h2>
          <h1 class="text-gray-900 text-3xl title-font font-medium mb-1" id="name">{{product.product_name}}</h1>
          <div class="flex mb-4">
            <span class="flex items-center">
              {% for i in stars %}
              {% if i %}
              
              <i class="fa-solid fa-star text-red-500"></i>
              
              {% else %}
              
              <i class="fa-regular fa-star text-red-500"></i>
              
              {% endif %}
              {% endfor %}
            </span>
            <span class="flex ml-3 pl-3 py-2 border-l-2 border-gray-200 space-x-2s">
             
            </span>
          </div>

          <p class="leading-relaxed font-medium">{{product.desc}}</p>
          <p class="leading-relaxed font-medium">{{product.desc2}}</p>
          <p class="font-bold pt-2">Directions:</p>
          <p class="leading-relaxed">{{product.directions}}</p>

          <div class="flex mt-6 items-center pb-5 border-b-2 border-gray-100 mb-5">
            <div class="flex ml-6 items-center">
              
              <div class="relative">
                
              </div>
            </div>
          </div>
          <div class="flex mt-5 items-cente">
            <span class="title-font font-medium text-2xl text-gray-900" > &#8377<span id="mrp" class="line-through text-xl text-gray-700 pr-3"> {{product.mrp}} </span>  &#8377<span id="price" class="">{{product.sale_price}}</span></span>
            {% if product.availabilty %}
            <span id="atc" class="divpr"> <button class=" cart flex ml-auto text-white bg-indigo-500 border-0 py-2 px-6 focus:outline-none hover:bg-indigo-600 rounded">Add to cart</button></span>
            {% else %}
            <button disabled class=" cart flex ml-auto text-white bg-indigo-500 border-0 py-2 px-6 focus:outline-none hover:bg-indigo-600 rounded">Out of stock</button>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
    <!-------------------------------------- Feedback-------------------------------------------------------------- -->
    <div class="lg:w-4/5 mx-auto py-8 " id="reviews"><h3 class="text-3xl text-black font-medium border-b-2 border-purple-300">Feedback</h3>
      <div class="flex flex-row">
      <div class="p-5 md:w-1/2 w-full">
       <div> REVIEWS</div>
       <div class="pt-3">
       
        <div class=" flex flex-row items-center py-2">
          <!-- -------------------------------------------------------Previous reviews ----------------------------------------- -->
          {% for i in reviews %}
          {{i.name}}
          {{i.rate}}
          {{i.email}}
          {{i.comment}}
          {% endfor%}
        </div>
         
       
        </div>
        
      </div>
      <div class="p-5 md:w-1/2 w-full">
        
        {% if done %}
          review already added
        {% else %}
         WRITE YOUR REVIEW
        <form class="py-3" actiion="/products/{{product.product_id}}" method="get">
          <input type="hidden" class="form-control" id="name" name = "name" value="{{request.user}}">
            <input type="hidden" class="form-control" id="email" name="email" value="{{request.user.email}}">
        <textarea placeholder="Your Review" name="review" class="border-2 border-purple-300 w-full text-md p-2" rows="4"></textarea>
        
        <div class="py-3"> YOUR RATING:&nbsp 
          <input type="radio" name="rating" id="star1" value="1" class="hidden"><label for="star1"><i class="fa-solid fa-star cursor-pointer text-gray-600 hover:text-red-500 rate"></i></label>
          <input type="radio" name="rating" id="star2" value="2" class="hidden"><label for="star2"><i class="fa-solid fa-star cursor-pointer text-gray-600 hover:text-red-500 rate"></i></label>
          <input type="radio" name="rating" id="star3" value="3" class="hidden"><label for="star3"><i class="fa-solid fa-star cursor-pointer text-gray-600 hover:text-red-500 rate"></i></label>
          <input type="radio" name="rating" id="star4" value="4" class="hidden"><label for="star4"><i class="fa-solid fa-star cursor-pointer text-gray-600 hover:text-red-500 rate"></i></label>
          <input type="radio" name="rating" id="star5" value="5" class="hidden"><label for="star5"><i class="fa-solid fa-star cursor-pointer text-gray-600 hover:text-red-500 rate"></i></label>
        </div>

          <button type="submit" class="bg-indigo-500 text-white px-5 py-2 border-2 rounded hover:bg-indigo-600 cursor-pointer">Submit review</button>
        </form>
        {% endif %}
      </div>
    </div>
  </div>

          
          
          
          
      
  </section>
  
  
 
  

  
      
{% endblock %}
{% block js %}
<script>

// Carousel ======================================


const slides=document.querySelectorAll(".slide");
const slider=document.querySelector(".slider");
let c=0;
let i=0;
slides.forEach((slide,index)=>{
   i=index
})
function slideshow(){
  slides.forEach((slide)=>{
    slider.style.transform=`translateX(-${c * 100}%)`
  })
}
function prev(){
  if(c<=0){
    c=i
  }
  else{c--}
  slideshow()
}
function next(){
  if(c>=i){
    c=0
  }
  else{c++}
  slideshow()
}


// STARSSS ================================

const rates=document.querySelectorAll(".rate");
rates.forEach((rate,index)=>{
  rate.addEventListener('click',(e)=>{
    let x= index;
    rates.forEach((rate,t)=>{
      if(x>=t){
        rate.style.color="rgba(255, 89, 89, 0.8)"
      }
      else{
        rate.style.color="rgb(75 85 99)"
      }
      
   })
})
})




// Adding cart items  ---------
// ================================================================
// ================================================================


if (localStorage.getItem('thistle_cart') == null) {
    var thistle_cart = {};
} else {
    thistle_cart = JSON.parse(localStorage.getItem('thistle_cart'));
    
    console.log(thistle_cart);
    updateCart(thistle_cart);
}



// ==========================If the add to cart button is clicked, add/increment the item ====================
$('.cart').click(function() {
    console.log('clicked');
    var idstr = document.getElementById('prid').value;
    console.log(idstr);
    console.log(thistle_cart);




    if (thistle_cart[idstr] != undefined) {
        qty = thistle_cart[idstr][0]+1;


    } else {
        qty = 1;

        name = document.getElementById('name').innerHTML;
        price = document.getElementById('price').innerHTML;
        mrp = document.getElementById('mrp').innerHTML;
        img = document.getElementById('img').value;
        thistle_cart[idstr] = [qty,name,parseInt(price),parseInt(mrp),img,idstr.slice(2)];
    }
    updateCart(thistle_cart);
});


function updateCart(thistle_cart) {
    var sum = 0;
    for (var item in thistle_cart) {

            sum = sum+thistle_cart[item][0];

        }
    var idstr = document.getElementById('prid').value;
    if (thistle_cart[idstr] !== undefined){
    if (thistle_cart[idstr][0]!==0){
                console.log(item)
            document.getElementById('atc').innerHTML = "<div class='mt-5  cart'><button id='minus' class=' minus mx-2 my-btns'>-</button> <span id='val'>" + thistle_cart[idstr][0] + "</span> <button id='plus' class='plus my-btns' style='margin-right:1rem; margin-left:0.5rem;'  > + </button> </div>";
            }
            else {
                delete thistle_cart[item];


            }
}



    localStorage.setItem('thistle_cart', JSON.stringify(thistle_cart));
   // document.getElementById('cart').innerHTML = sum;

    console.log(thistle_cart);
}


// If plus or minus button is clicked, change the cart as well as the display value==================
// =======================
// ========================


$('.divpr').on("click", "button.minus", function() {
    var idstr = document.getElementById('prid').value;
    console.log(thistle_cart)
    thistle_cart[idstr][0] = thistle_cart[idstr][0] - 1;
    thistle_cart[idstr][0] = Math.max(0, thistle_cart[idstr][0]);
    document.getElementById('val').innerHTML = thistle_cart[idstr][0];
    updateCart(thistle_cart);
});
$('.divpr').on("click", "button.plus", function() {
    var idstr = document.getElementById('prid').value;

    if (thistle_cart[idstr]!=undefined){
      thistle_cart[idstr][0] = thistle_cart[idstr][0] + 1;
    document.getElementById('val').innerHTML = thistle_cart[idstr][0];
    }
    else{
        qty = 1;
        name = document.getElementById('name').innerHTML;
        price = document.getElementById('price').innerHTML;
        mrp = document.getElementById('mrp').innerHTML;
        img = document.getElementById('img').value;
        thistle_cart[idstr] = [qty,name,parseInt(price),parseInt(mrp),img,idstr.slice(2)];
    }
    updateCart(thistle_cart);
});

</script>
{% endblock %}